<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deep API Searcher</title>
    <link rel="stylesheet" type="text/css" href="../static/css/spinner.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <style>
        header {
            text-align: center;
            margin: 20px;
        }

        #search_form {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #result-table tr td {
            padding: 5px 10px 5px 10px;
        }

    </style>
    <script type="text/javascript">
        function showSpinner() {
            var inputTag = document.createElement("div");
            inputTag.className = 'loading';
            inputTag.append("Loading&#8230;");
            document.body.appendChild(inputTag);
        }
    </script>
</head>
<body>
<header>
    <h1 class="container">Deep API Searcher <em><small>for Java</small></em></h1>
</header>

<section>
    <form class="container" id="search_form" method="POST" action="/">
        <div class="input-group">
            <input type="text" class="form-control" name="query" placeholder="query">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" onclick="showSpinner()">
                search
            </button>
        </span>

        </div>
    </form>

    <table id="result-table" class="container table-striped">
        {% for data in datas %}
            <tr>
                <td>{{ data }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
</body>
</html>